

/* SIDE NAVIGATION BAR */

.sidebar {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100vh;
  position: fixed;
  align-items: center;
}

.sidebar a {
  display: inline-block;
  color: #ffffff;
  padding: .8rem 0;
}

.sidebar-hidden {
  background-color: rgba(255, 0, 0, 0.2);
}

.sidebar-visible {
  background-color: rgba(255, 0, 255, 0.2);
}


/* TOP BAR */
.top {
  background-color: rgba(10, 0, 18, 0.2);
  padding: .8rem;
}