/* MARKETPLACE CONTAINER */

.marketplace-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.marketplace-container .title {
    font-size: 1.6rem;
    background-color: rgba(255, 0, 0, 0.2);
}

.marketplace-container button {
    outline: none;
    border: none;
    border: 2px solid rgba(0, 194, 145, 0.8);
    background-color: transparent;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    padding: 0.8rem;
    width: 160px;
    cursor: pointer;
    transition: 0.2s all;
    margin: 0.8rem auto;
}

.marketplace-container button:hover {
    background-color: rgba(0, 194, 145, 0.8);
    color: #ffffff;
}

/* SEED COMPONENT */
.seed-container {
    background-color: #ffffff;
    display: flex;
    margin: .8rem auto;
    padding: .8rem;
    width: 68%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s all;
}

.seed-active {
    border: 2px solid rgba(0, 194, 145, 0.8);
}

/* .seed-container:hover {
    transform: translateY(-2px);
} */

.seed-img-container {
    width: 25%;
    display: flex;
    justify-content: center;
}

.seed-img-container img {
    height: 100px;
    width: auto;
    transition: 0.2s all;
}

.seed-container .name {
    width: 45%;
    font-size: 1.8rem;
    text-align: center;
}

.seed-container .cost {
    width: 30%;
    text-align: center;
    font-size: 1.8rem;
}

/* Tablet */
@media screen and (max-width: 800px) {
    .seed-container {
        width: 90%;
    }
    .seed-img-container img {
        height: 80px;
    }
}

/* Phone */
@media screen and (max-width: 400px) {
    .seed-img-container img {
        height: 65px;
    }
    .seed-container .name {
        font-size: 1.4rem;
        width: 55%;
    }
    .seed-container .cost {
        font-size: 1.4rem;
        width: 20%;
    }
}